#code-validator-landing {
  height: 100%;
  width: 100%;
}


#myVideo {
object-fit: cover;
background-size: cover;
width:100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.section-heading {
  margin-bottom: 5em;
}

.section-heading h2 {
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  color: #ffffff;
  font-family: "Sacramento", Arial, serif;
}

.section-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#code-validator-landing .form-control::-webkit-input-placeholder {
  color: #fff;
}
#code-validator-landing .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#code-validator-landing .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#code-validator-landing .form-control:-ms-input-placeholder {
  color: #fff;
}

.form-group .sr-only {
  font-weight: normal !important;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;

  height: 54px;
  border: none !important;
  background: #F14E95;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

.text-danger {
  font-size: 18px;
}
