
<div id="page" class="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo">Wedding<strong>.</strong></div>
        </div>
        <div class="col-xs-10 text-right menu-1">

        </div>
      </div>

    </div>
  </nav>

  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../../assets/images/IMG_4155.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="display-t">
            <div class="display-grid animate-box" data-animate-effect="fadeIn">
              <h1>Moni &amp; Dani</h1>
              <h2>¡Nos casamos!</h2>
              <div class="simply-countdown simply-countdown-one"></div>
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MjZmbWFzZzgxODRobW81NmVuMDV1bDJhMmwgZGFuaWVsdGFsZWJpQG0&tmsrc=danieltalebi%40gmail.com" class="btn btn-default btn-sm">Save the date</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <h2>Hola {{ invitation.displayName }}!</h2>
          <h3>12 de Octubre, Cerrillos, Salta</h3>
          <p>Vení a celebrar con nosotros</p>
        </div>
      </div>
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <img src="../../assets/images/moni/Byron Bay.png" alt="Moni" class="img-responsive">
          </div>
          <div class="desc-groom">
            <h3>Moni</h3>
            <p>Soy la mayor de 3 hermanos. Como abogada odio las injusticias como a la palta, pero las hamburguesas son mi perdición.
              Tengo un sobrino que me vuelve loca y mi familia no solo es importante sino lo es todo!
              Cupido finalmente me flecho, y conocí a mi media naranja: Daniel
            </p>
          </div>
        </div>
        <p class="heart text-center"><i class="icon-heart2"></i></p>
        <div class="couple-half">
          <div class="bride">
            <img src="../../assets/images/dani/IMG_3060.jpg" alt="Dani" class="img-responsive">
          </div>
          <div class="desc-bride">
            <h3>Dani</h3>
            <p>Soy el menor de 3 hermanos varones y el más consentido.
              Desde chico arreglo cosas, aunque siempre me sobran piezas despues.
              A pesar de ser un poco nerd. Odio desarmar las valijas después de un viaje.
               Catador no oficial de sandwich de milanesa tucumanos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-event" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container" style="max-width: unset">
      <div class="row">
        <div id='weddingEvents' class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span>Our Special Events</span>
          <h2>¿Dónde?</h2>
        </div>
      </div>
      <div class="row">
        <div class="display-t">
          <div class="display-grid">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Misa</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>6:00 PM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Sábado 12</span>
                    <span>Octubre, 2019</span>
                  </div>
                  <p>Vicaria Santa Teresita - Cerrillos - Salta</p>
                  <a href="https://goo.gl/maps/MoF5ceRPJFYiDe5JA" target="_blank">[Como llegar]</a>

                </div>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Party Time!</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>7:00 PM</span>
                    <span>2:30 AM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Sábado 12</span>
                    <span>Octubre, 2019</span>
                  </div>
                  <p>Las Blancas - Cerrillos - Salta</p>
                  <a href="https://goo.gl/maps/8FKPiichgHQWs8hMA" target="_blank">[Como llegar]</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-couple-story">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span></span>
          <h2>Nuestra Historia</h2>
          <p>Ella de Salta y él de Tucumán</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <ul class="timeline animate-box">
            <li class="animate-box">
              <div class="timeline-badge" style="background-image:url(../../assets/images/couple-1.jpg);"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Nos conocimos</h3>
                </div>
                <div class="timeline-body">
                  <p>Nuestros celestinos, Yari y Luis, organizaron una cena pensando en nosotros</p>
                  <p>Ella: fue un complot de ellos tres! Yo no sabía que iba a estar Daniel, fui engañada...</p>
                  <p>El: me banque 4 horas jugando al aburrido Teg pero le declare una guerra amorosa </p>

                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge" style="background-image:url(../../assets/images/couple-2.jpg);"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Primera Cita</h3>
                </div>
                <div class="timeline-body">
                  <p>Ella: era la noche mas fría del año pero me convenció de ir a cenar. El transpiraba como testigo falso</p>
                  <p>El: después que se le acabaron las excusas, acepto salir. No comió nada... seguro que estaba nerviosa </p>
                </div>
              </div>
            </li>
            <li class="animate-box">
              <div class="timeline-badge" style="background-image:url(../../assets/images/couple-3.jpg);"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Primer Beso</h3>
                </div>
                <div class="timeline-body">
                  <p>Ella: fue un 11 de Febrero en el Parque</p>
                  <p>El: conocer su debilidad por las titas fue clave...</p>
                </div>
              </div>
            </li>
            <li class="animate-box">
              <div class="timeline-badge" style="background-image:url(../../assets/images/couple-3.jpg);"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Primer viaje juntos</h3>
                </div>
                <div class="timeline-body">
                  <p>Playas brasileñas + Hamburguesas + Jugo de Mango</p>
                  <p>Ella: cuando descubris que tu compañero de ruta puede ser tu compañero de vida</p>
                  <p>El: como copiloto era adicta al Candy Crush pero como novia, la mejor</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge" style="background-image:url(../../assets/images/couple-2.jpg);"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Aventura en las tierras de canguros</h3>
                </div>
                <div class="timeline-body">
                  <p>Y un día decidimos cruzar el charco para vivir nuevas aventuras...
                    Han sido dos años emocionantes, llenos de amor y compañerismo.
                    Aprendimos que el amor no se divide, sino se multiplica

                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span>Our Memories</span>
          <h2>Wedding Gallery</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-12">
          <ul id="fh5co-gallery-list">

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-1.jpg); ">
              <a href="../../assets/images/gallery-1.jpg">
                <div class="case-studies-summary">
                  <span>14 Photos</span>
                  <h2>Two Glas of Juice</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-2.jpg); ">
              <a href="#" class="color-2">
                <div class="case-studies-summary">
                  <span>30 Photos</span>
                  <h2>Timer starts now!</h2>
                </div>
              </a>
            </li>


            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-3.jpg); ">
              <a href="#" class="color-3">
                <div class="case-studies-summary">
                  <span>90 Photos</span>
                  <h2>Beautiful sunset</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-4.jpg); ">
              <a href="#" class="color-4">
                <div class="case-studies-summary">
                  <span>12 Photos</span>
                  <h2>Company's Conference Room</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-5.jpg); ">
              <a href="#" class="color-3">
                <div class="case-studies-summary">
                  <span>50 Photos</span>
                  <h2>Useful baskets</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-6.jpg); ">
              <a href="#" class="color-4">
                <div class="case-studies-summary">
                  <span>45 Photos</span>
                  <h2>Skater man in the road</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-7.jpg); ">
              <a href="#" class="color-4">
                <div class="case-studies-summary">
                  <span>35 Photos</span>
                  <h2>Two Glas of Juice</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-8.jpg); ">
              <a href="#" class="color-5">
                <div class="case-studies-summary">
                  <span>90 Photos</span>
                  <h2>Timer starts now!</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../../assets/images/gallery-9.jpg); ">
              <a href="#" class="color-6">
                <div class="case-studies-summary">
                  <span>56 Photos</span>
                  <h2>Beautiful sunset</h2>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-confirm-invitees [invitation]="invitation"></app-confirm-invitees>

</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
